/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

:root {
  --primary: #26a69a;
  --secondary: #5e35b1;
  --success: #018a23;
  --error: #de3333;
  --warning: #f59e0b;
  --info: #2e75d4;
  --white: #fff;
  --heading: #020817;
  --sub-heading: #64748b;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-info: var(--info);
  --color-white: var(--white);
  --color-heading: var(--heading);
  --color-sub-heading: var(--sub-heading);
}

body {
  overflow-y: hidden;
  font-family: "Manrope", sans-serif !important;
  font-style: normal;
  /* font-weight: 600; */
}

.loader {
  width: 20px;
  height: 20px;
  position: relative;
}

.loader div {
  transform-origin: 10px 10px;
  animation: loader-animation 1.2s linear infinite;
}

.loader div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 1px;
  left: 9px;
  width: 2px;
  height: 6px;
  border-radius: 20%;
  background-color: var(--white);
}

.loader div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.loader div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.loader div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.loader div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.loader div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.loader div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.loader div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.loader div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.loader div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.loader div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.loader div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.loader div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes loader-animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
